// breakpoints (desktop first)
$b-mobile-micro: 374px;
$b-mobile-mini: 479px;
$b-mobile-midi: 639px;
$b-mobile: 767px;
$b-tablet: 894px;
$b-tablet-maxi: 1099px;
$b-labtop-mini: 1279px;
$b-laptop: 1439px;
$b-desktop: 1899px;
$b-desktop-mini: 1921px;
$b-desktop-maxi: 2239px;
$b-sm-height: 700px;

// fullpage slider helpers
$fs-laptop-width: 1280;
$fs-laptop-height: 720;
$fs-tablet-width: 768;
$fs-mobile-width: 375;

//fonts
$font-default: 'OpenSans', tahoma, arial, sans-serif;
// $font-preahvihear: 'Preahvihear', tahoma, arial, sans-serif;
// $font-accent: helvetica, tahoma, arial, sans-serif;

//colors
$c-black: #000;
$c-white: #fff;

$m-black: #2c2e30;
$d-black: #11171f;
$l-black: #54565a;

$d-white: #f6f8f9;

$c-accent: #2c2e30;
$c-gray: #7e8085;
$s-gray: #51545e;
$l-gray: #c9cdd5;
$d-gray: #b0b0b0;
$f-gray: #d2d2d2;
$c-blue: #2f5bea;
$l-blue: #c5d0e6;
$d-blue: #4f5265;

$c-red: #fc5c42;


$c-overlay: rgba(0, 0, 0, 0.3);

// timing
$time-sm: 300ms;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;

// layout
$container: 1290px;
$container-sm: 1110px;
$container-m: 1520px;
$container-big: 1836px;
$container-xl: 1920px;
$wrap-xl: 42px;
$wrap-lg: 32px;
$wrap-md: 20px;
$wrap-sm: 18px;

// tags
$h: 'h1, h2, h3, h4, h5, h6';

/* stylelint-disable-next-line */
$input-txt: 'input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea';

// z-index
$z-index: (
	cursor: 100000000,
	modal: 1200,
	overlay: 1100,
	header: 1000,
	burger-menu: 900,
	footer: 900,
	dropdown: 800,
	form: 500,
	scroll-btn: 10,
);
