<div class="burger-menu js-burger-menu">
	<div class="wrapper burger-menu__wrapper">
		<div class="container burger-menu__container">
			<div class="burger-menu__content">
				<nav class="burger-menu__nav header__nav">
						<ul class="burger-menu__nav-list header__nav-list">
							<li class="burger-menu__nav-item header__nav-item">
								<a href="#" class="header__nav-link link txt txt--lm color-gray">Features</a>
							</li>
							<li>
								<a href="#" class="burger-menu__nav-item header__nav-link link txt txt--lm color-gray">Pricing</a>
							</li>
							<li class="burger-menu__nav-drop header__nav-drop">
								<span class="header__nav-link txt txt--lm color-gray">Pages</span>
								<span class="header__drop-arrow"></span>
							</li>
						</ul>
					</nav>
			</div>
		</div>
	</div>
	{% set footerMode = 'footer--beige' %} {% include 'blocks/_footer.twig' %}
</div>
