<footer class="footer {{ footerMode }}">
	<div class="footer__inner">
		<div class="wrapper">
			<div class="container container--sm">
				<div class="footer__row">
					<div class="footer__col footer__col--first">
						<div class="footer__logo">{{ mixins.inline('logo-s') }}</div>
					</div>
					<div class="footer__menu">
						<ul class="footer__menu-list footer__menu-list--first">
							<li class="footer__menu-title">
								<p class="txt txt--ssm txt--bold color-black">Company</p>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">About Us</a>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Careers</a>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Blog</a>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Press</a>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Brand Guidelines</a>
							</li>
						</ul>
						<ul class="footer__menu-list">
							<li class="footer__menu-title">
								<p class="txt txt--ssm txt--bold color-black">Product</p>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Why xPider?</a>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Enterprise</a>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Customer Stories</a>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Pricing</a>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Security</a>
							</li>
						</ul>
						<ul class="footer__menu-list">
							<li class="footer__menu-title">
								<p class="txt txt--ssm txt--bold color-black">Resources</p>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Download</a>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Help Center</a>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Guides</a>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Partners</a>
							</li>
							<li>
								<a class="link txt txt--xs color-l-black" href="#">Events</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__contols">
		<div class="wrapper">
			<div class="container container--sm">
				<div class="footer__contols-row">
					<ul class="footer__contols-list">
						<li>
							<a class="link txt txt--xxs txt--semi-bold color-l-black" href="#">Status</a>
						</li>
						<li>
							<a class="link txt txt--xxs txt--semi-bold color-l-black" href="#">Privacy & Terms</a>
						</li>

						<li>
							<a class="link txt txt--xxs txt--semi-bold color-l-black" href="#">Contact Us</a>
						</li>
					</ul>

					<ul class="footer__soc-list soc-list">
						<li>
							<a href="#"><img src="../img/home/soc-list/facebook.svg" alt="" /></a>
						</li>
						<li>
							<a href="#"><img src="../img/home/soc-list/twitter.svg" alt="" /></a>
						</li>
						<li>
							<a href="#"><img src="../img/home/soc-list/dribble.svg" alt="" /></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

