---
title: Home Page
description: Home Page description
pageName: UIPage
nameSpace: UIPage
---

{% extends 'layouts/_page-default.twig' %} {% block content %}

<style>
	.ui-block {
		margin-bottom: 50px;
	}
</style>
<div class="wrapper" style="padding-top:400px">
	<div class="container">
		<div class="row">
			<div class="col col-2 col-t-4 col-m-2">div</div>
			<div class="col col-4 col-t-4 col-m-1">1212</div>
			<div class="col col-6 col-t-4 col-m-1">1212</div>
		</div>
		<div class="row">
			<div class="col col-4 col-t-2 col-m-1">121</div>
			<div class="col col-4 col-t-6 col-m-2">12121212</div>
			<div class="col col-4 col-t-4 col-m-1">1212</div>
		</div>
		<div class="row">
			<div class="offset-4 col col-4 col-t-2 offset-t-3 offset-m-1 col-m-2">121</div>
			<div class="col col-4 col-t-7 col-m-1">1212</div>
		</div>
	</div>
</div>
<main style="padding: 50px; background: #EBDED2;">
  <div class="ui-block">
    <a href="/index" class="btn btn--white">CONTACT US</a>
  </div>
  <div class="ui-block">
    <a href="/index" class="btn btn--red">CONTACT US</a>
  </div>
  <div class="ui-block">
    <a href="#" class="btn btn--gray">CONTACT US</a>
  </div>
  <div class="ui-block">
    <a href="#" class="btn btn--gray btn--disabled">CONTACT US disabled</a>
  </div>
  <div class="ui-block">
    <p class="title title--xxl">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="title title--xl">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="title title--x">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="title title--l">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="title title--m">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="title title--s">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="title title--m title--bold">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="title title--m title--semi-bold">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="title title--m color-d-red">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="title title--m color-red">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="title title--m color-orange">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="title title--m color-green">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="title title--m color-d-green">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="title title--m color-d-green">Title ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="txt txt--xl">Text ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="txt txt--l">Text ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="txt">Text ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="txt txt--m">Text ipsum dolor sit amet.</p>
  </div>
  <div class="ui-block">
    <p class="txt txt--s">Text ipsum dolor sit amet.</p>
  </div>
</main>
  <div class="wrapper">
    <div class="container">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ipsum harum eos ex, repudiandae quia, minima perferendis quibusdam optio rerum quo tempora eaque ab autem laudantium minus consectetur fugit quasi.
    </div>
    <div class="container container--sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ipsum harum eos ex, repudiandae quia, minima perferendis quibusdam optio rerum quo tempora eaque ab autem laudantium minus consectetur fugit quasi.
    </div>
    <div class="container container--m">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ipsum harum eos ex, repudiandae quia, minima perferendis quibusdam optio rerum quo tempora eaque ab autem laudantium minus consectetur fugit quasi.
    </div>
    <div class="container container--full">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ipsum harum eos ex, repudiandae quia, minima perferendis quibusdam optio rerum quo tempora eaque ab autem laudantium minus consectetur fugit quasi.
    </div>
  </div>
{% endblock %}
