.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: $c-overlay;
	opacity: 0.3;
	z-index: map-get($z-index, overlay);
	opacity: 0;
	pointer-events: none;
	transition: $time-sm;
	&.active {
		opacity: 1;
		pointer-events: visible;
	}
}
