<section class="about">
	<div class="about__bg"></div>

	<div class="wrapper">
		<div class="container">
			<div class="about__content">
				<h2 class="about__title title title--s title--bold color-black text-center">How xPider works for you?</h2>
				<p class="about__text txt txt--ssm txt--semi-bold color-gray text-center">When you need a kickstart in your business and you have no time for coding for your website, xPider will take that job for you and will build a great looking website in minutes.</p>

				<div class="about__blocks">
					<div class="about__item">
						<div class="about__item-img">
							<img src="../img/home/about/about-1.svg" alt="" />
							{{ mixins.inline('about') }}
						</div>
						<h4 class="about__item-title title title--xxs title--bold color-black text-center">Get started with xPider</h4>
						<p class="about__item-text txt txt--xs color-gray text-center">Login or Signup in xPider Dashboard to get started.</p>
					</div>

					<div class="about__decor about__decor--first">
						<img src="../img/home/about/decor.svg" alt="" />
					</div>

					<div class="about__item">
						<div class="about__item-img">
							<img src="../img/home/about/about-2.svg" alt="" />
							{{ mixins.inline('about') }}
						</div>
						<h4 class="about__item-title title title--xxs title--bold color-black text-center">Build your website</h4>
						<p class="about__item-text txt txt--xs color-gray text-center">Using our super powerful builder, build your website.</p>
					</div>

					<div class="about__decor about__decor--second">
						<img src="../img/home/about/decor.svg" alt="" />
					</div>

					<div class="about__item">
						<div class="about__item-img">
							<img src="../img/home/about/about-3.svg" alt="" />
							{{ mixins.inline('about') }}
						</div>
						<h4 class="about__item-title title title--xxs title--bold color-black text-center">Publish when finsihed</h4>
						<p class="about__item-text txt txt--xs color-gray text-center">When you are done, hit the publish button to show the world!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
