<section class="device">
	<div class="device__bg"></div>

	<div class="wrapper">
		<div class="container container--m">
			<div class="device__content">
				<div class="device__col-left">
					<h2 class="device__subtitle txt txt--xs txt--bold color-l-gray uppercase">Everything on mobile</h2>
					<h2 class="device__title title title--s title--bold color-white">Use your android or ios device to manage everything.</h2>
					<p class="device__descr txt txt--xs color-l-blue">Silent sir say desire fat him letter. Whatever settling goodness too and honoured she building answered her. Strongly thoughts remember mr to do consider.</p>
				</div>

				<div class="device__slider-wrapper">
					<div class="device__slider-container js-slider swiper-container">
						<div class="device__slider-arrows">
							<div class="device__slider-arrow device__slider-arrow--prev swiper-button-prev"></div>
							<div class="device__slider-arrow device__slider-arrow--next swiper-button-next"></div>
						</div>
						<div class="swiper-wrapper">
							<div class="device__slide-wrap swiper-slide">
								<div class="device__slider-item">
									<div class="device__slider-img">
										<img src="../img/home/device/mobile.png" alt="" />
									</div>
									<div class="device__slider-info">
										<h3 class="device__slider-title title title--xxs title--bold color-white">Productivity</h3>
										<p class="device__slider-text txt txt--xs color-l-blue">Silent sir say desire fat him letter. Whatever settling goodness too and honoured she building answered her. Strongly thoughts remember mr to do consider.</p>
									</div>
								</div>
							</div>
							<div class="device__slide-wrap swiper-slide">
								<div class="device__slider-item">
									<div class="device__slider-img">
										<img src="../img/home/device/mobile.png" alt="" />
									</div>
									<div class="device__slider-info">
										<h3 class="device__slider-title title title--xxs title--bold color-white">Efficiency</h3>
										<p class="device__slider-text txt txt--xs color-l-blue">Quietly, the gentleman expresses his longing, a weighty message encoded within his words. Every choice he makes resonates with a sense of purpose and respect for the values he upholds</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
