<section class="inner-hero">
	<div class="wrapper">
		<div class="container container--m">
			<div class="inner-hero__content">
				<div class="inner-hero__image-wrap">
					<picture>
						<source media="(min-width: 1920px)" srcset="../img/home/hero/hero-img2.jpg" />
						<source media="(min-width: 320px)" srcset="../img/home/hero/hero-img2.jpg" />
						<img src="../img/home/hero/hero-img2.jpg" alt="Flowers" style="width:auto;" />
					</picture>
				</div>
				<div class="inner-hero__info-wrap">
					<h1 class="inner-hero__title title title--m title--extra-bold color-black">The next generation website builder for your business.</h1>
					<p class="inner-hero__text txt txt--ssm txt--semi-bold color-gray">When you need a kickstart in your business and you have no time for coding for your website, xPider will take that job for you and will build a great looking website in minutes.</p>
					<div class="inner-hero__controls-wrap">
						<div class="inner-hero__btn-start js-modal-button" data-modal="modal-start">
							<span class="txt txt--xs txt--bold uppercase color-white">Get started</span>
						</div>
						<a href="" class="inner-hero__controls-message txt txt--xs txt--bold color-gray js-link-for-free">Try xPider for Free</a>
					</div>
					<p class="inner-hero__message txt txt--xxs color-gray">Already using xPider? <a href="" class="txt txt--xxs txt--semi-bld color-red">Sign in.</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
