<section class="modal-start" data-modal-id="modal-start">
	<h2 class="modal-start__title title title--s title--bold color-c-black text-center">Try xPider for 14 days, for free!</h2>
	<p class="modal-start__text txt txt--ssm txt--semi-bold color-c-black text-center">Millions of people around the world have already made xPider the place where their works happens.</p>

	<form class="modal-start__form">
		<input type="email" id="email" name="email"  class="modal-start__input txt txt--ssm color-c-black" placeholder="Enter your email to start"/>
        <span class="modal-start__form-message txt txt--xxs text-center color-f-gray">No credit card required.</span>
		<button type="submit" class="modal-start__btn js-get-started-button"><span class="txt txt--xs txt--bold color-white uppercase">Get started</span></button>
	</form>
</section>
