html,
body {
	font-family: $font-default;
	font-size: 28px;
	font-weight: 400;
	line-height: calc(35.2 / 28);
	color: $c-accent;
	letter-spacing: .2px;
	background-color: $c-white;

	@include mobile {
		font-size: 18px;
		line-height: calc(22 / 18);
	}
}

main {
	width: 100%;
}

img,
video,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

button,
a,
[class *= "button"],
[class *= "btn"],
[class *= "link"],
[type *= "submit"] {
	outline: unset;
	cursor: pointer;
}

.hide-mob {
	@include mobile {
		display: none;
	}
}

.show-mob {
	display: none;

	@include mobile {
		display: block;
	}
}

